@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
    }
body {
    font-family: 'Kanit';
}
.container {
    background-color: wheat;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.header {
    background-color: wheat;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.header-form {
    width: 140px;
}
.flex {
    display: flex;
}
.form-input {
    margin-bottom: 10px
}
input.form, textarea {
    border: 1px solid black;
    width: 55%;
}
.center {
    text-align: center;
}
.button {
    border: 2 solid black;
    width: 100%;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    } 
    .header {
       font-size: 24px;
    }
    .button {
       width: 100%;
    }
}